{% extends "_base.html" %}

{% block title %}Welcome to Thyme IMDB{% endblock %}

{% block content %}
<h1>Welcome to Thyme IMDB</h1>
<p>Your minimalist guide to the world of cinema.</p>
<p>
  Use the navigation above to explore:
  <ul>
      <li><a href="/movies.html">Movies</a></li>
      <li><a href="/tv.html">TV</a></li>
      <li><a href="/persons.html">People</a></li>
      <li><a href="/genres.html">Genres</a></li>
      <li><a href="/top-rated.html">Top Rated</a> titles</li>
  </ul>
</p>
<p>
    You can also browse our collection of <a href="/short.html">Shorts</a>, <a href="/video.html">Videos</a>, and <a href="/videogame.html">Video Games</a>.
</p>
{% endblock %}
